<!-- <h1>This is a home page</h1>

<%= link_to 'Alpha Blog', articles_path %> | 
<%= link_to 'About', about_path %> -->
<body id="home">
	<div class="center jumbotron">
	  <h1 class="display-4">Alpha Blog</h1>
	  <p class="lead">This is the Alpha Blog web app</p>
	  <hr class="my-4">
	  <p>Please sign up to post blogs and share your ideas</p>
	  <!-- <a class="btn btn-primary btn-lg btn-xlarge" href="#" role="button">Sign up</a> -->
	  <%= link_to "Sign up", signup_path, class: "btn btn-primary btn-lg btn-xlarge" %>
	</div>
</body>